
:host {
    position: relative;
}

.icon {
    background: black;
    color: white;
    padding: 0.15em 0.5em;
    text-align: center;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.tipBox {
    font-weight: normal;
    background-color: black;
    color: white;
    position: absolute;
    top: 2rem;
    right: -3rem;
    z-index: 10;
    padding: 0.15rem;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.26);
    width: 8rem;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

:host([show-tip]) .tipBox {
    opacity: 1;
}