$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$font-color: #35373a;
$accent: #f1c517;

// $primaryColor: #66000a;
// $secondaryColor: #ccccb8;
// $font-color: #331912;
// $accent: #8c8c38;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);